@import './variables';
@import './mixins';

.navbar {
  box-shadow: 0 3px 7px 0 rgba(21, 30, 38, 0.3);

  .navbar-brand {
    padding: 0;
  }

  .nav-link {
    color: $white;
    font-size: $smaller-font;
    text-transform: uppercase;
  }

  .btn {
    display: block;
  }

  .search_form {
    max-width: 767px;

    .search-box {
      background: $metal-gray;
      border: 1px solid rgba(255, 255, 255, .04);
      box-shadow: none !important;
      color: $white;
    }
  
    button[type=submit] {
      border: 1px solid rgba(255, 255, 255, .04);
      border-left: 0;
      background: $metal-gray;
      color: $medium-gray;
      box-shadow: none !important;
    }
  }

  .dropdown-menu {
    padding: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    top: 46px;
    border: none;

    &.categories {
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);
      border-radius: 0;
      background: $white;
    }

    &:after {
      display: none;
      z-index: 1021;
      position: absolute;
      border-style: solid;
      border-width: 0 9px 10px;
      content: "";
      height: 0;
      width: 0;
      right: auto;
      top: -8px;
      left: 7px;
      border-width: 0 10px 8px;
      border-color: transparent transparent white;
    }
    &:before {
      display: none;
      z-index: 1021;
      position: absolute;
      border-style: solid;
      border-width: 0 9px 10px;
      content: "";
      height: 0;
      width: 0;
      right: auto;
      top: -10px;
      left: 8px;
      border-color: transparent transparent rgba(0, 0, 0, .1);
    }

    .dropdown-item {
      padding: .5rem .75rem .5rem  1.25rem;
      font-size: $smaller-font; 
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
      &:hover {
        background: rgba(0, 0, 0, .05);
      }
    }
  }

  .button-nav {
    margin-top: 3px;
    .nav-item {
      margin: 2px 0;
      a {
        min-width: 100px;
      }
    }
  }
}

@media (min-width: 576px) {
	.navbar {
    .container {
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
	.navbar {
    .btn {
      display: inline-block;
    }

    .button-nav {
      margin-top: 0;
      .nav-item {
        margin: 0 2px;
        font-size: $smaller-font;
      }
    }

		.dropdown-menu {
      background: $white;
      color: $white;
      @include border-radius(0 0 0.125rem 0.125rem);
      &:after,
      &:before {
        display: inline-block;
      }
      &.categories {
        margin-right: 0;
        margin-left: 0;
      }

      .dropdown-item {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
	}
}