@import './variables';

// Set theme colors
$theme-colors: (
  "primary":    $primary,
  "success":    $success,
  "danger":     $danger,
  "dark":       $dark
);

//  Set link color
$link-color: $success;

// Set small radius
$btn-border-radius-sm: .2rem;

// Pagination
$pagination-active-bg: $success !default;