// Color scheme
$primary:       #2563eb;
$success:       #008057;
$danger:        #bc133d;
$dark:          #1B192F;

$theme-colors: (
  "primary":    $primary,
  "success":    $success,
  "danger":     $danger,
  "dark":       $dark
);