.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.pagination {
  margin: 0;

  .page-item {
    .page-link {
      font-size: 14px;
    }
    &:first-child,
    &:last-child {
      .page-link {
        @include border-radius(.2rem);
      }
    }
  }

}
