// Color variables
$white: #fff;
$light-gray: #ddd;
$lighter-gray: #eaeaea;
$medium-gray: #808080;
$dark-gray: #1c232c;
$metal-gray: #343a40;
$accent-gray: #566f86;
$dark: #1b192f;
$dark-red: #6e0000;
$light-red: #b43340;
$lighter-red: #ce8483;
$body-bg: #f8fafc;
$default-text-color: #1b192f;

// Bootstrap colors
$primary: #2c82e6;
$success: #008057;
$danger: #bc133d;

// Typography variables
$body-font: 'Open Sans', Arial, Helvetica, sans-serif;
$line-height-base: 1.5;
$heading-font: 'Source Sans Pro', Arial, sans-serif;
$medium-font: 1.125rem;
$smaller-font: .9rem;
$error-font-size: 10px;
